In [1]:
# Importing necessaries libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
df = pd.read_csv(r"E:\ML_project_2\flight_price_prediction\flight_data.csv")

In [3]:
df.head()

,Airline,Source,Destination,Total_Stops,Price,journey_day,journey_month,dep_hour,dep_min,arr_hour,arr_min,duration_hours,duration_mins
0,IndiGo,Banglore,New Delhi,non-stop,3897,24,3,22,20,1,10,2,50
1,Air India,Kolkata,Banglore,2 stops,7662,5,1,5,50,13,15,7,25
2,Jet Airways,Delhi,Cochin,2 stops,13882,6,9,9,25,4,25,19,0
3,IndiGo,Kolkata,Banglore,1 stop,6218,5,12,18,5,23,30,5,25
4,IndiGo,Banglore,New Delhi,1 stop,13302,3,1,16,50,21,35,4,45

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10682 entries, 0 to 10681
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Airline         10682 non-null  object
 1   Source          10682 non-null  object
 2   Destination     10682 non-null  object
 3   Total_Stops     10682 non-null  object
 4   Price           10682 non-null  int64
 5   journey_day     10682 non-null  int64
 6   journey_month   10682 non-null  int64
 7   dep_hour        10682 non-null  int64
 8   dep_min         10682 non-null  int64
 9   arr_hour        10682 non-null  int64
 10  arr_min         10682 non-null  int64
 11  duration_hours  10682 non-null  int64
 12  duration_mins   10682 non-null  int64
dtypes: int64(9), object(4)
memory usage: 1.1+ MB

In [6]:
df['Airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [4]:
n = int(input("Enter the number of triangles : "))
sum = 0
for i in range(1,n+1):
    sum += i
print(f"The number of dot in triangle-{n} : {sum}")

The number of dot in triangle-215 : 23220